name: Deploy Ovos Raposo

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v3

      - name: Instalar Dependências e Gerar Build
        run: |
          npm install
          npm run build

      - name: Enviar Pasta Dist via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
          source: "dist/*"
          target: "domains/ovosraposo.com.br/public_html"
          strip_components: 1